<div class="col s12 m12 l8">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text" style="padding:0px; padding-left: 10px;">
      <div class="card-title">
        <div class="chip">
          <a href="/users/<%= post.user.id %>">
            <%= image_tag(post.user.image) %>
            <%= post.user.name %>
          </a>
        </div>
        <div class="chip">
          <%= post.created_at.strftime("%m/%d/%y") %>
        </div>
      </div>

      <div class="card-content">
        <p><%= post.content %></p>
      </div>
    </div>


    <!--<div class="card-action">-->
    <!--<i class="small white-text material-icons comment-button">comment</i>-->
    <!--<i class="small white-text material-icons">email</i>-->
    <!--<div class="side-box">-->
    <!--<%= render post.comments %>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>